input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header h1 {
  font-family: 'Brush Script MT', cursive !important;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar */
}